.hero {
	height: 100%;
}

.container_layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main_layout {
	display: flex;
	gap: calc(var(--offset-base-size) * 10);
	height: calc(100% - 100px);
	padding-bottom: calc(var(--offset-base-size) * 5);
}

.title {
	align-self: center;
	width: 100%;
}
