.form {
	width: 100%;
	max-width: 480px;
	text-align: center;
}

.form.right {
	margin-left: auto;
}

.form.center {
	margin: 0 auto;
}

.form_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: calc(var(--offset-base-size) * 6);
}

.form_footer {
	margin-top: calc(var(--offset-base-size) * 20);
}

.button_group {
	display: flex;
	justify-content: end;
	width: 100%;
}

.link {
	color: var(--colors-interface-accent);
}

.text {
	color: var(--text-inactive-color);
}

.form:has(.error_message) .form_content,
.form:has(.success_message) .form_content {
	position: relative;
	padding-top: 24px;
	transition: all 0.2s ease-in-out;
}

.error_message,
.success_message {
	position: absolute;
	top: 0;
	left: 0;
}

.error_message {
	color: var(--colors-interface-error);
}

.success_message {
	color: var(--colors-interface-success);
}
