.container {
	position: relative;
	width: 100%;
	max-width: calc(1240px + (var(--offset-base-size) * 4) * 2);
	margin: 0 auto;
	padding-right: calc(var(--offset-base-size) * 4);
	padding-left: calc(var(--offset-base-size) * 4);
}
