.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--text-primary-color);
	background-color: var(--background-alt);
}

.title {
	align-self: center;
	width: 100%;
}

.main {
	height: 100%;
	overflow: hidden;
}

.container_layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main_layout {
	display: flex;
	gap: calc(var(--offset-base-size) * 10);
	height: calc(100% - 100px);
}
