body {
	margin: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: var(--text-inactive-color);
	text-decoration: none;
}

button {
	all: unset;
	display: block;
	cursor: pointer;
}

.text-start {
	text-align: start;
}

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}
